<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<div id="wrap">
		<aside class="sidebar">
			<h1>
				<a href="#">Board</a>
			</h1>
			<ul>
				<li><a href="/board/">board</a></li>
				<li><a href="/board/">글쓰기</a></li>
				<li><a href="#">메뉴3</a></li>
			</ul>
		</aside>
		<div class="content-wrap">

			<div class="content">
				<header class="header shadow">
					header
					<nav class="nav"></nav>
				</header>

				<div class="container ">
					<div class="cont1">메인 페이지 입니다.</div>
				</div>
			</div>
			<footer class="footer">
				<p>Copyright © 최동완 Board 2023</p>
			</footer>
		</div>
	</div>
</body>
</html>