<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글쓰기</title>
</head>
<body>
		<input type="hidden" id="id" th:value="${board.id}" />
		
		<input type="text" id="title" name="title" th:value="${board.title}"/>
		<textarea name ="content" id="content" th:text="${board.content}"></textarea>
		<button type="button" name="btn_update" class="UpdateBtn">수정하기</button>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/js/Board.js"></script>
	
</body>
</html>